<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::header(${pageTitle})">

</head>
<body>
<div th:replace="common::breadcrumbs (${pageTitle})"/>

<form action="#" th:action="@{/login/}" th:object="${user}" method="post">

    <div>
        <div style="width:100px;float:left">ユーザID:</div>
        <div><input type="text" th:field="*{userId}" size="20" placeholder="ユーザIDを入力"/></div>
        <div th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" style="color:red">>id Error</div>
    </div>
    <div>
        <div style="width:100px;float:left">パスワード:</div>
        <div><input type="text" th:field="*{password}" size="20" placeholder="パスワードを入力"/></div>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red">pw Error</div>
    </div>

    <div th:if="${errorMessage}" th:text="${errorMessage}" style="color:red"> auth Error</div>
    <p><input type="submit" value="ログイン"/> <input type="reset" value="リセット"/></p>
</form>

<form action="#" th:action="@{/guest_login/}" th:object="${user}" method="post">
    <input type="submit" value="ゲストユーザとしてログイン"/>
</form>

<div th:replace="common::footer"/>
</body>
</html>